html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-light);
}

.app-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}
